@import 'bootstrap.less';
@import "elements.less";

.img-rounded {
	.border-radius(5px, 5px, 5px, 5px);
}

.floatright {
	float: right;
	margin: 0 0 10px 10px;
}

.thumb {
	max-height: 100px;
	height: 100px;
	
	img {
		max-height: 100px;
	}
}

.alert pre {
	background: transparent;
	border: none;
}