
/* HTML STYLES */

body {
/*	margin: top right bottom left; */
	margin: 10px;
	background-color: #fff;
	font-family: sans-serif;
}
.wrapper {
	max-width: 920px;
	margin: 0px auto;
	padding: 10px;
	border-style:double;
	border-width: 5px;
	border-color: grey;
}
nav ul {
	list-style-type: none;
	text-align: center;
}
nav ul li {
	display: inline;
}

/* Order of anchor elements is important */
a:link {
	color:#FF0000;
	text-decoration: none;
}
a:visited {
	color:#00FF00;
}
a:hover {
	color:#FF00FF;
}
a:active {
	color:#0000FF;
}

/* Head elements */

h2 {

}

h3 {

}
