@import "bourbon";
@import "pure-min";
@import "1.0.5";

@font-face {
	font-family: 'proxima_novalight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/proximanova-light-webfont.woff') format('woff'),
			 url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
			 url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { 
	font-family: 'proxima_novalight', Arial, sans-serif;
	margin-bottom: 80px; 
}

hr.soften {
  height: 1px;
  margin: 2em 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
		color: white;
		border-radius: 4px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
		background: rgb(76, 201, 71); /* this is a green */
}

.pure-button-error {
		background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
		background: orange;
}

.pure-button-secondary {
		background: rgb(95, 198, 218); /* this is a light blue */
}

	.pure-button-xsmall {
			font-size: 70%;
	}

	.pure-button-small {
			font-size: 85%;
	}

	.pure-button-large {
			font-size: 110%;
	}

	.pure-button-xlarge {
			font-size: 125%;
	}

a.btn-week, a.btn-student {
	border: 1px solid #efefef;
	cursor: pointer;
	display: block;
	padding: .5em;
	@include transition (background-color 0.3s ease-in-out);

	&:hover {
		background-color: rgb(0, 142, 213);
		color: white;
	}
}

.hideme { display: none; }

.pure-table {
	width: 100%;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.classphoto {
	margin: 1em 0;
	text-align: center; 
}