@import "bourbon";

@import "vendor/pure-min";
@import "vendor/pure-1-0-5";

@import "vendor/font-awesome";
@font-face {
	font-family: 'proxima_novalight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/proximanova-light-webfont.woff') format('woff'),
			 url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
			 url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "vendor/genericons";

body {
	font-family: 'proxima_novalight', Arial, sans-serif;

	@media screen and (min-width: 768px) {
		margin-bottom: 80px;
	}
}

#div_chart {
	width: 100%;
	height: 400px;
}

hr.soften {
  height: 1px;
  margin: 2em 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
		color: white;
		border-radius: 4px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
		background: rgb(76, 201, 71); /* this is a green */
}

.pure-button-error {
		background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
		background: orange;
}

.pure-button-secondary {
		background: rgb(95, 198, 218); /* this is a light blue */
}

	.pure-button-xsmall {
			font-size: 70%;
	}

	.pure-button-small {
			font-size: 85%;
	}

	.pure-button-large {
			font-size: 110%;
	}

	.pure-button-xlarge {
			font-size: 125%;
	}

a.btn-week, a.btn-student {
	border: 1px solid $pcolor;
	cursor: pointer;
	display: block;
	padding: .5em;
	@include transition (background-color 0.3s ease-in-out);

	&:hover {
		background-color: $pcolor;
		color: white;
	}
}

.hideme { display: none; }

.pure-table {
	width: 100%;
}

footer {
	@media screen and (min-width: 768px) {
		bottom: 0;
		position: fixed;
		width: 100%;
	}
}

.classphoto {
	margin: 1em 0;
	text-align: center;
}

#tuts-psd {
	background: #44d58e;
	color: white;
	padding: 1em 2em;
	min-height: 200px;

	h1 {
		color: white;
		font-weight: normal;
		text-align: center;
	}
}

#code-ranger {
	background: #f26f63;
	border: 1px solid #f26f63;
	color: white;
	// padding: 1em 2em;
	margin: 20px 0;
	min-height: 200px;

	h1 {
		background: #f26f63;
		color: white;
		display: block;
		font-weight: normal;
		margin: 0;
		padding: 8px 0;
		text-align: center;
	}

	p {
		padding: 0 10px;
	}

	pre {
		font-size: .8em;
		margin-top: 0;
		padding: 8px;
	}
}

#tuts-starters {
	background: #4dade2;
	color: white;
	margin: 20px 0;
	min-height: 200px;
	padding: 1em 2em;

	h1 {
		color: white;
		font-weight: normal;
		text-align: center;
	}
}

.instructor-contact {
	h3 {
		text-align: center;
	}
}

.avatar {
	height: 235px;
	text-align: center;
	img {
		max-width: 200px;
	}
}

.contact-meta {
	font-size: .8em;
	text-align: center;

	a {
		color: $pcolor;
		margin: 0 3px;
		@include transition (color 0.3s ease-in-out);

		&:hover {
			color: darken($pcolor, 20%);
		}
	}
}

.assignment {
	font-size: 14px;

	b {
		color: black;
		font-weight: bold;
	}

	.assignment-title {

	}

	.assignment-info {
		border: 1px solid lightgray;
		border-top: none;
		margin-bottom: 1em;
		padding: 0 1em;
	}
}

ul.classlist {
	padding-left: 0;

	li {
		list-style: none;
	}

	a {
		border: 1px solid $pcolor;
		color: darken($pcolor, 20%);
		display: block;
		list-style: none;
		margin-bottom: .85em;
		padding: .85em;
		@include transition (background-color 0.3s ease-in-out);

		&:hover {
			background: $pcolor;
			color: white;
		}
	}
}

.is-centered {
	margin: 0 auto;
	text-align: center;
}

.striped {
	tr:nth-child(odd) {
		background-color: #f2f2f2;
	}

	tr:hover { background-color: #fef4d6; }
}
