/* http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/ */
@import url('reset.css');

body {
	background: #efefef;
	font: 14px/18px Arial, sans-serif;
	padding: 20px;
}

#nav {
	float: left;
	font-weight: bold;
	list-style: none;
	margin-bottom: 10px;
	width: 100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}

#nav li {
	float: left;
	margin-right: 10px;
	position: relative;
}

#nav a {
	background: #333;
	color: #fff;
	display: block;
	padding: 8px;
	text-decoration: none;
}

#nav a:hover {
	background: #009999;
	color: #fff;
	text-decoration: underline;
}

/* Dropdowns */
#nav ul {
	/* Adding a background makes the dropdown work properly in IE7+.
	Make this as close to your page's background as possible
	(i.e. white page == white background). */
	background: #fff;
	/* Make the background fully transparent where we can*/
	background: rgba(255,255,255,0);
	/* Hide off-screen when not needed (this is more accessible than display:none;) */
	left: -9999px;
	list-style: none;
	position: absolute;
}

#nav ul li {
	float: none;
	/* Introducing a padding between the li and the a give the illusion spaced items */
	padding-top: 1px;
}

#nav ul a {
	/* Stop text wrapping and creating multi-line dropdown items */
	white-space: nowrap;
}

/* Display the dropdown on hover */
#nav li:hover ul {
	/* Bring back on-screen when needed */
	left: 0;
}

/* These create persistent hover states, meaning the top-most link stays 'hovered'
even when your cursor has moved down the list. */
#nav li:hover a {
	background: #009999;
	text-decoration: underline;
}

/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
#nav li:hover ul a {
	text-decoration: none;
}

/* Here we define the most explicit hover states--what happens when you hover each individual link. */
#nav li:hover ul li a:hover {
	background: #333;
}